<div class="footer">
  <div class="content">
    <input id="item-text-input" type="text" name="todo-item" placeholder="Add to list" class="input-field"></input>
    <div class="icon-div">
      <i id="send-btn" class="send-icon"></i>
    </div>
  </div>
</div>
